@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    font-size: x-small;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    font-size: xx-large;
    font-family: "Macondo", cursive;
    font-style: normal;
    font-weight: bolder;
    color: #34495e;
}
.container {
    width: 100%;
    height: 1px;
    background-color:  #7f8c8d;
}
#user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#user-list li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
    cursor: pointer;
    margin: 10px;
    padding: 20px;
    width: calc(23% - 70px); 
    box-sizing: border-box;
    transition: transform 0.2s;
    color:  #7f8c8d;
    height: 310px;
    text-align: center;
}

#user-list li:hover {
    transform: translateY(-3px);
    pointer-events: stroke;
}

.nombre-estilo {
    color: #34495e; /* Cambia esto a los estilos que desees */
    font-weight: bolder;
    font-size: larger;
}

.blue-box {
    background-color: #395169; 
    padding: 18px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 203px;
    height: 110px;
    margin-left: -21px;
    margin-top: -22px;
    clip-path: polygon(50% 100%, 100% 75%, 100% 0, 0 0, 0 75%);
}

#user-list img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.icon-container img {
    width: 20px !important; 
    height: auto !important;
    transition: transform 0.2s, filter 0.2s, border-radius 0.2s;
}
.icon-container img:hover {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(200deg); /* Cambia el color del icono */
    transform: scale(1.5); /* Aumenta el tamaño del icono */
    border-radius: 50%;
}

footer {
    color: #7f8c8d;
    text-align: center;
    font-weight: bold;
}